.a_center{
    text-align: center;
}
.a_container{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}
.ap_pos{
    position: relative;
}
.ap_posa{
    margin: 10px 10px;
    float: right;

}